{% extends "base.html" %}

{% block title %}Messages{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2>Your Messages</h2>
    <h4>Received Messages</h4>
    <ul>
        {% for message in received_messages %}
            <li>
                From: {{ message.sender.username }}<br>
                {{ message.content }}
            </li>
        {% else %}
            <li>No messages received.</li>
        {% endfor %}
    </ul>

    <h4>Sent Messages</h4>
    <ul>
        {% for message in sent_messages %}
            <li>
                To: {{ message.receiver.username }}<br>
                {{ message.content }}
            </li>
        {% else %}
            <li>No messages sent.</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
