* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Navbar */
.navbar {
    background-color: #4facfe;
    color: #333;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    text-decoration: none;
}

.navbar-nav {
    list-style: none;
    display: flex;
    gap: 15px;
}

.navbar-nav a {
    color: #333;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s;
}


/* Footer */
.footer {
    background-color: #4facfe;
    color: #4facfe;
    padding: 80px;
    text-align: center;
    margin-top: auto;
    font-size: 0.9rem;
}


